<div id="background_contenu" class="row">   
    <div id="contenu" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <h1 class="col-xs-12 col-sm-10 col-lg-10">{{title}}</h1>
        <div class="col-xs-12 col-lg-12">
            <br/>
            <p>Nous allons suivre les aventures de plusieurs antagonistes parcourant les terres de Solvheim.</p>

            <h2>{{perso1}}</h2>
            <p>L'un de ses personnages s'apelle <strong>{{perso1}}</strong>, une femme louve de la tribu des <strong>{{racePerso1}}</strong> issu de la malédiction d'<strong>Amarok</strong>, l'esprit de la forêt et père de <strong>Sakari</strong></p>
            <p>D'après la légende, elle a été punie pour avoir aimé dans l'interdit, il était contre nature qu'une divinité des forêts puisse aimer un simple humain et descendant de chasseurs.</p>
            <p>Le dieu décida ainsi de châtier sa fille qui portait l'enfant de cet humain <strong>Lenno</strong>, ainsi il décréta que tous les descendants de <strong>Sakari</strong> et de <strong>Lenno</strong> naîtraient mi-hommes, mi-loups, comme moi.</p>
            <p>Je suis l'une de leurs descendants et j'ai hérité du don des <strong>{{racePerso1}}</strong>, je peux communiquer avec la nature et je suis devenue une Alchimiste.</p>
        </div>
    </div>
</div>