<div id="background_contenu" class="row">   
    <div id="contenu" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <h1 class="col-xs-10 col-sm-10 col-md-9 col-lg-8">{{title}}</h1>
        <div class="col-xs-12 col-lg-12">
            <h2>{{titleSec1}}</h2>
            <p>
                Le jeu de rôle est un jeu de société dans lequel des joueurs interprétent des personnages en train de vivre une aventure, 
                tandis qu'une autre personne, le meneur de jeu, se charge d'arbitrer et d'animer la partie. 
                C'est principalement un jeu de dialogues, où des données chiffrées (les caractéristiques)
                permettent de définir les personnages, et ainsi de résoudre, par des règles, les actions tentées au cours de l'aventure.
                Il n'y a ni gagnants ni perdants, le but étant, pour les joueurs, de mener à bien celui que se sont fixés leurs personnages.
            </p>
            <h2>{{titleSec2}}</h2>
            <p>
                Dès qu'on parle de Jdr souvent les personnes s'imaginent un jeu de société fastidieux qui se joue sur papier avec 10000 caractéristiques, qui se joue dans une cave ect..
                Ce qu'il faut savoir c'est que ces stéréotypes sont totalement faux, il existe énormément de jeux de rôle différents et même certains extrêmement simplifié.
                En plus de cela différentes plateformes on était créées sur le web pour faciliter les nouveaux joueurs à ce type de jeux comme par exemple roll20
                ce qui permet en plus pour les joueurs d'avoir un visuel et de ne pas devoir tout imaginer ce qui freiné beaucoup de personnes
            </p>
        </div>
    </div>
</div>