<!--The content below is only a placeholder and can be replaced.-->
   <!--==============================header==================================-->

   <header>
     <!--------------------Barre de connexion Site web-------------------------->

       <div id="connexion_bar" class="row navbar navbar-default navbar-fixed-top">   
            <div id="loading">
                 <img src="../../assets/loading.svg" alt="Loading spinner">
            </div>
           

           
           <a id="btn-home-view" routerLink="/" routerLinkActive="active"><img id="logo" class="col-xs-4 col-sm-3 col-md-2 col-lg-2" [src]="logo" /></a>
            
           
           <main class="container col-xs-4 col-sm-3 col-sm-offset-3 col-md-offset-6 col-md-2 col-lg-2 col-lg-offset-6">
                    <!-- home view -->
                    <div id="home-view">
                      <a routerLink="/ficheperso"><h4></h4></a>
                    </div>

            </main>
           
           
           <button id="btn-login" class="col-xs-4 col-sm-3 col-md-2 col-lg-2 btn btn-primary btn-margin">
                            Connexion </button>
            <button id="btn-logout" class="col-xs-4 col-sm-3  col-md-2  col-lg-2 btn btn-primary btn-margin">
                            Déconnexion
            </button>
       
            <div class="content">
            </div>

       </div>

       <div class="hidden-xs hidden-sm row" id="banniere">
           <a routerLink="/index" routerLinkActive="active"><img class="hidden-xs hidden-sm col-md-12 col-lg-12" [src]="banniere" alt="banniere" /></a>
       </div> 

       <nav class="row">  
           <ul class="menu col-md-12 col-lg-12">
               <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><li class="col-sm-6 col-md-2 col-md-offset-2 col-lg-2 col-lg-offset-2 active">Accueil</li></a>
               <a routerLink="/jdr" routerLinkActive="active"><li class="dernierElementT col-sm-6 col-md-2 col-lg-2">JDR ?</li></a>
               <a routerLink="/notreAventure" routerLinkActive="active"><li class="elementBasT col-sm-6 col-md-2 col-lg-2">Notre Aventure</li></a>
               <a routerLink="/contact" routerLinkActive="active"><li id="lastchild" class="elementBasT dernierElementT col-sm-6 col-md-2 col-lg-2">Contact</li></a>
           </ul>
        </nav>
   </header> 

   <!--==============================corps===================================-->

   <router-outlet></router-outlet>

   <!--==============================footer==================================-->

   <footer>
         <p><strong>©2017 Dylan Bogaert</strong><br>
    </footer>	    
   <script src="scripts/jquery-3.2.1.min.js"></script>
